body{
  min-height:100vh;
  background: linear-gradient(
    135deg,
    #312e81,
    #6d28d9,
    #9333ea
  );
}

.welcome-card{
  max-width:750px;
  margin:120px auto;
  background:white;
  padding:60px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

.welcome-card h1{
  font-size:3rem;
  font-weight:700;
  margin-bottom:20px;
}

.welcome-card p{
  font-size:1.2rem;
  color:#555;
}

.hero-buttons{
  margin-top:35px;
  display:flex;
  justify-content:center;
  gap:20px;
}